@import url("https://fonts.googleapis.com/css?family=Merriweather|Poppins&display=swap");
.App {
  text-align: center;
}

.NavBar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
}
.NavBar a {
  padding: 2vh 2vw;
}
.NavBar .homeIcon {
  padding-top: 4vh;
  height: 40px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("./../assets/images/home-clipart.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.NavBar #navButton {
  color: #ff9900;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #0066ffab;
  margin-top: 10px;
}
.NavBar #navButton:hover {
  background-color: #0066ff;
  color: white;
}
.NavBar .dropMenuButtonCard {
  position: absolute;
  right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavBar #contactMenuButton {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ff9900;
  color: white;
  padding: 10px 5px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 10px #ffffffab;
}
.NavBar #contactMenuButton:hover {
  background-color: #0066ff;
}
.NavBar .contactMeMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 12vh;
  background: white;
}
.NavBar .contactMeMenu div {
  display: flex;
  justify-content: center;
  width: 20vw;
}

.HomePage {
  height: 100vh;
  background-color: white;
}
.HomePage .IntroCard {
  display: flex;
  flex-direction: column;
  padding: 15vh 15vw 0 15vw;
  color: black;
  text-align: center;
}
.HomePage .IntroCard h1 {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  margin: 0;
}
.HomePage .IntroCard h3 {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}
.HomePage .IntroCard span {
  display: block;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.HomePage .AvatarCard {
  padding: 2vh 0 2vh;
  display: flex;
  justify-content: center;
}
.HomePage .Avatar {
  display: block;
  height: 30vmin;
  border-radius: 50%;
  margin-bottom: 3vh;
}
.HomePage .clipartsHome {
  position: fixed;
  top: 85vh;
  width: 100vw;
  height: 15vh;
}
.HomePage .clipartsHome img {
  height: 100%;
  bottom: 0;
}
.HomePage .clipartsHome #pc-tablet-phone {
  position: absolute;
  left: 0;
}
.HomePage .clipartsHome #soccerball {
  position: absolute;
  left: 30vh;
}
.HomePage .clipartsHome #mountain-climb {
  position: absolute;
  right: 0;
}

.ButtonCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

#projectsButtonCard {
  position: fixed;
  bottom: 5vh;
  width: 100vw;
}

.linkButton {
  color: #fff;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  background: #0066ff;
  padding: 15px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

#projectsLinkButton {
  background: #5398ff;
  border: solid 1px rgba(0, 0, 0, 0.205);
}

.linkButton:hover {
  text-shadow: 0px 0px 6px white;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease 0s;
}

.contentPage {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.contentSection {
  background-color: #ffff;
  position: fixed;
  right: 20vw;
  bottom: 20vh;
  height: 65vh;
  width: 60vw;
  text-align: center;
  border-radius: 20px;
  box-shadow: inset 0 0 10px #00000088;
  overflow: hidden;
}
.contentSection h2 {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}
.contentSection .contentSummary {
  position: absolute;
  height: 85%;
  padding: 0 2vw;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  overflow: auto;
}
.contentSection .content {
  position: absolute;
  top: 0;
  border-radius: 20px;
  box-shadow: inset 0 0 10px #00000088;
  height: 100%;
  width: 100%;
  background-color: white;
}

.educationText {
  padding: 0 2vw;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  height: 90%;
  overflow: auto;
  scroll-behavior: smooth;
}
.educationText span {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 2vh;
}
.educationText h3 {
  margin-bottom: 0;
}

.careerText {
  padding: 0 2vw;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  height: 90%;
  overflow: auto;
  scroll-behavior: smooth;
}
.careerText span {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 5px;
}
.careerText td {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px rgba(0, 0, 0, 0.212);
}

.skillsText {
  height: 90%;
  overflow: auto;
}
.skillsText h3 {
  margin: 0;
  font-size: larger;
  text-decoration: underline;
}
.skillsText span {
  padding-top: 2vh;
  font-size: smaller;
}
.skillsText .skillsList {
  padding-left: 10vw;
}
.skillsText .skillsList ul {
  margin: 0;
}
.skillsText .skillsList li {
  text-align: left;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}

.portfolioContent {
  height: 90%;
  overflow: auto;
  padding: 0 3vw;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}
.portfolioContent p {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
.portfolioContent a {
  display: block;
  text-decoration: none;
}
.portfolioContent a button {
  border-radius: 5px;
  background-color: #0066ff4b;
  padding: 5px;
  margin: 2px;
}

.previousContent {
  height: 90%;
  overflow: auto;
  padding: 0 3vw;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}
.previousContent p {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
.previousContent a {
  display: block;
  text-decoration: none;
}
.previousContent a button {
  border-radius: 5px;
  background-color: #0066ff4b;
  padding: 5px;
  margin: 2px;
}

.currentContent {
  height: 90%;
  overflow: auto;
  padding: 0 3vw;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
}
.currentContent p {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
.currentContent a {
  display: block;
  text-decoration: none;
}
.currentContent a button {
  border-radius: 5px;
  background-color: #0066ff4b;
  padding: 5px;
  margin: 2px;
}

.screenshotContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  overflow: auto;
}
.screenshotContent .appScreenshots {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}
.screenshotContent .projectManagementScreenshots {
  display: flex;
  justify-content: center;
}
.screenshotContent img {
  display: block;
  width: 80%;
}

.hidden {
  display: none;
}

.contentColor {
  background-color: #0066ff;
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  box-shadow: 0 0 5px 10px #0066ff;
}
.contentColor .coffeeClipart {
  position: fixed;
  bottom: -3vh;
  right: -4vh;
}
.contentColor .coffeeClipart img {
  display: inline-block;
  height: 20vh;
}
.contentColor .bookClipart {
  position: fixed;
  bottom: -2vh;
  right: 8vw;
}
.contentColor .bookClipart img {
  display: inline-block;
  width: 20vw;
}
.contentColor .mouseClipart {
  position: fixed;
  bottom: 0;
  left: 0;
}
.contentColor .mouseClipart img {
  display: inline-block;
  height: 15vh;
}

.contentMenu {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.contentMenu .contentToggleButton {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  padding: 10px 0;
  width: calc(100% /3);
  color: white;
  text-decoration: none;
  background-color: #0066ffb0;
  display: inline-block;
}
.contentMenu .contentToggleButton:hover {
  text-shadow: 0px 0px 12px white;
  background: #0066ff;
  transition: all 0.4s ease 0s;
}
.contentMenu .toggled {
  background-color: #ffffff;
  color: black;
  border-top: none;
}
.contentMenu #career {
  border-bottom-left-radius: 20px;
}
.contentMenu #skills {
  border-bottom-right-radius: 20px;
}

.stackImages {
  position: absolute;
  display: flex;
  bottom: 0;
  justify-content: space-around;
  width: 100vw;
  padding-bottom: 1vh;
}
.stackImages div {
  width: 11vh;
  height: 11vh;
  margin: 1vh 1vw 0;
}
.stackImages .javaScriptImg {
  background: rgba(255, 255, 255, 0) url("./../assets/images/JavaScript.png") center no-repeat;
  background-size: contain;
}
.stackImages .mongoDBImg {
  background: rgba(255, 255, 255, 0) url("./../assets/images/mongodb-transparent.png") center no-repeat;
  background-size: contain;
}
.stackImages .rubyImg {
  background: rgba(255, 255, 255, 0) url("./../assets/images/ruby-rails.png") center no-repeat;
  background-size: contain;
}
.stackImages .htmlImg {
  background: rgba(255, 255, 255, 0) url("./../assets/images/html5.png") center no-repeat;
  background-size: contain;
}
.stackImages .cssImg {
  background: rgba(255, 255, 255, 0) url("./../assets/images/css3.png") center no-repeat;
  background-size: contain;
}
.stackImages .pythonImg {
  background: rgba(255, 255, 255, 0) url("./../assets/images/python.png") center no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 767px) {
  .AppDiv {
    font-size: smaller;
  }
  .AppDiv h1 {
    font-size: 1.5em;
  }

  #pc-tablet-phone {
    height: 10vh;
  }

  #soccerball {
    height: 10vh;
  }

  #mountain-climb {
    height: 10vh;
  }

  .contentSection {
    right: 14vw;
    width: 72vw;
  }

  .contentMenu button {
    width: 24vw;
  }
}
@media only screen and (min-width: 768px) {
  .AppDiv {
    font-size: large;
  }
  .AppDiv .contentToggleButton {
    font-size: large;
  }
  .AppDiv .linkButton {
    font-size: x-large;
  }
  .AppDiv #navButton {
    font-size: x-large;
  }
  .AppDiv #contactMenuButton {
    font-size: x-large;
  }
}

/*# sourceMappingURL=main.css.map */
